a {
    text-decoration: none;
    hover {
        text-decoration: none;
    }
}

.blog-card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}



.blog-card{
    position: relative;
    padding: 1.25rem 1.5rem;
    color: #4d2c01;
    background-color: #faefe3;
    border: 2px solid #4d2c01;
    box-shadow: 4px 4px 0 #4d2c01;
    transition: all 0.1s ease;
}

.blog-card:hover{
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 0 #4d2c01;
}

.blog-card-title {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #4d2c01;
    text-decoration: none;
}

.blog-card-title:hover {
    text-decoration: underline;
}

.blog-card-description {
    font-size: 0.95rem;
    font-style: italic;
    margin-bottom: 0.5rem;
    color:#816541;
}

.blog-card-date {
    padding-top: 0.5rem;
    font-size: 0.6rem;
    color: #a09e9b;
}

/* On narrow screens, stack the cards into a single column */
/* Mobile-first design*/


@media (max-width: 1000px) {
    .blog-card-grid {
        grid-template-columns: 1fr;
    }
}