time {
    font-size: 0.9rem;
    color: #555555;
    margin-left: 10px;
}

h1 {
    margin-top: 75px;
}

hr {
    color: #aa6c39;
    size: 0.5px;
    margin-bottom: 30px;
    margin-top: 30px;
}

ruby rt {
  font-size: 0.5em;
}

.ref,
.ref * {
    font-size: 12px;
    color: #555555;
}

blockquote {
    display: block;
    font-size: .9em;
    overflow: auto;
    border-left: 5px solid #ec964a;
    padding: 15px 30px 15px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background: #fff4e9;
}

.post_author {
    text-align: right;
    margin-top: 10px;
}

*:lang(zh-CN) em{
    font-family: "Noto Serif SC", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    color: rgb(156, 156, 156);
}