time {
    font-size: 0.9rem;
    color: #555555;
    margin-left: 10px;
}

.post_author {
    text-align: right;
    margin-top: 10px;
}

*:lang(zh-CN) em{
    font-family: "Noto Serif SC", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    color: rgb(156, 156, 156);
}