/* Here goes global variables */

:root{
    --primary-background: #f8f0ea;
    --primary-font-color: #2b1903;
    --scriptive-font-family: "Space Grotesk", monospace;
    --serif-font-family: "Noto Serif", Georgia, 'Times New Roman', Times, serif;
    --monospace-font-family: "JetBrains Mono", monospace;
}

html {
    background-color: var(--primary-background);
    font-family: "Noto Serif", serif;
}

p {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  
body {
    margin: 0 auto;
    padding: 1rem;
    line-height: 1.5;
}
  
* {
    box-sizing: border-box;
    font-size: 1.05rem;
}
  
h1 {
    margin: 1rem 0;
    font-size: 4rem;
    text-align: left;
    margin-bottom: 2rem;
    font-family: var(--scriptive-font-family);
    font-weight: 900;
    font-optical-sizing: auto;
    color: var(--primary-font-color);
}

.wrapper {
  width: 1000px;
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: calc((100% - 1000px) * 0.43);
  margin-right: calc((100% - 1000px) * 0.57);
  position: relative;
  z-index: 1;
}

@media (max-width: 1000px){
    .wrapper {
        margin: 0 auto;
    }
}

/* Background Decoration */

.contour-bg {
  color: #4e1605;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: url("/contours_lake_district.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  z-index: -1;
}

/* i18n */

*:lang(zh-CN) {
    font-family: "Noto Serif SC", serif;
}

h1:lang(zh-CN) {
    font-family: "Noto Serif SC", serif;
}

*:lang(ja-JP) {
    font-family: "Noto Serif JP", serif;
}