---
import Social from "./social.astro";
---

<footer>
    <Social platform="twitter" username="absqrt" /> <br />
    <Social platform="github" username="sqrtsqrxlxl" /> <br />
    <p lang="zh-CN"><a href="https://mond.how/zh-Hans/absqrt">欢迎读者来信</a></p>
</footer>

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
</style>